node_modules/
.research/*
!.research/README.md
dist/*
!dist/README.md
out/
coverage/
*.log
packs/behavior/scripts/*.js
packs/behavior/scripts/*.js.map
packs/resource/pack_icon.png
packs/resource/textures/**/*.png
packs/behavior/pack_icon.png
!packs/resource/textures/.gitkeep
